{% extends 'base.html.twig' %}

{% block body %}
    <h2>A propos</h2>
    <p>Le service de paiement de facture en ligne est mise en place par deux etudiants de l'INSTI de lokossa.
Ce service n'est pas un partenariat entre nous et les sociétés émettrices de vos factures.
A partir de ce service, vous commandez le paiement de vos factures en ligne. <a href="{{ path('ccm') }}">Cliquez ici</a> pour lire notre page d'aide et les tarifs applicables.
Nous payons vos factures tous les jours ouvrables aux guichets de la SBEE et de la SONEB à 8h00. 
Vous retrouverez les quittances de paiement de vos factures dans votre compte paiementfacture en cliquant sur l'onglet "Gerer une commande"</p>
    

{% endblock %}