<h3>Vous venez de vous enregistrer</h3>

Salut {{ username }}! Votre enregistrement fut un succes sur notre application.

Pour vous connecter, aller sur <a href="{{ url('login') }}">PaiementEnLigne</a>.

Merci a toi!

